.popup__button-submit {
  height: 50px;
  padding-top: 48px;
  background-color: #000;
  border-radius: 2px;
  border: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .popup__button-submit {
    height: 38px;
    margin-top: 15px;
    font-size: 14px;
  }
}

.popup__button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button-submit:active {
  outline: none;
}