.popup__field {
  padding-bottom: 20px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0 , 0, 0.2);
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .popup__field {
    padding-bottom: 15px;
  }
}

.popup__field::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.214;
  color: #000;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .popup__field::placeholder {
    font-size: 12px;
  }
}

.popup__field:last-of-type {
  padding-bottom: 0;
}